.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dgrey-1;
  color: $color-white;
  padding: 3rem;

  &__logo-box {
    top: 4rem;
    left: 4rem;
    font-size: 25px;
  }

  &__logo {
    height: 2.5rem;
  }

  &__menu {
    display: flex;
    font-size: 18px;
  }

  &__menu__item {
    padding: 0.8rem 1.2rem;
    margin: 0 8rem;
    cursor: pointer;

    &:hover {
      background-color: $color-dgrey;
      border-radius: 4px;
    }
  }

  &__toggle-btn {
    position: absolute;
    right: 4rem;
    font-size: 2.6rem;
    color: $color-white;
  }
}
