.section-about {
  background-color: $color-lgrey-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(47, 54, 64, 0.801),
      rgba(30, 39, 46, 0.801)
    ),
    url(../img/dog4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-designers {
  background-color: $color-lgrey-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-business {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(47, 54, 64, 0.801),
    rgba(30, 39, 46, 0.801)
  );
}

.business {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/idea.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

  height: 65rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
