.footer {
  background-color: $color-dgrey-1;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: $color-lgrey-1;

  &__logo-box {
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__logo {
    width: 4rem;
  }

  &__font {
    color: $color-white;
    font-weight: 400;
    font-size: 3rem;
    bottom: 3rem;
  }

  &__navigation {
    border-top: 1px solid $color-dgrey;
    padding-top: 2rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-lgrey-1;
      background-color: $color-dgrey-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-dgrey;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: scale(1.3);
    }
  }

  &__copyright {
    border-top: 1px solid $color-dgrey;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    width: 80%;
    float: right;
  }
}
