@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// media query manager

/* 
0 -600px:   Phone
600 -900px:   Tablet
900 -1200px:   Tablet landscape
[1200 - 1800}:   Standard
1800px +:   Big desktop


*/
